[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[fetch]
	prune = true

[pull]
	ff = only

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[diff]
	algorithm = histogram
	colorMoved = zebra

[column]
	ui = auto

[branch]
	sort = -committerdate
